
body {
  padding-top: 50px;
  background-color: #62929E !important;
}

.no-padding {
    padding: 0px !important;
}

.main-content {
    background-color: #C6C5B9;
}

/* Bootstrap overloads */

.navbar-inverse {
     background-color: #393D3F !important;
     border-color: #393D3F !important;
}

/* Makes the nav bar behave reasonable on mobiles */
.navbar-nav>li, .navbar-nav {
  float: left !important;
}