
body {
  padding-top: 20px;
  background-color: #62929E !important;
}

.no-padding {
    padding: 0px !important;
}

.main-content {
    background-color: #C6C5B9;
}

/* Bootstrap overloads */
.navbar-inverse, .dropdown-menu {
     background-color: #393D3F !important;
     border-color: #393D3F !important;
}

.jumbotron {
    background-color: #C6C5B9 !important;
}
