body{
    width: 100%
}

#board {    
    width: 300px;
    height: 300px;

    display: table;
    margin: 0 auto;
}

.td{
    padding: 0px;
}
.square{
    border-width: 1px;
    border-style: solid;
    width: 20%;
    min-height: 20%;
    height: 20%;
}

.piece{
    height: 80%;
    width: 80%;
    border-radius: 50%;
    margin: 0 auto;
    min-height: 1px; /*Setting min height to make sure it gets a height, it then uses height percent to calculate the right one */
}

.player1{
    background: red;
    border: 3px;
}

.player2{
    background: green;
    border: 3px;
}

.player0{    
    background: sandybrown;
    border: 3px;
}