language: node_js

# safelist
branches:
  only:
  - master
  - travis

before_install:
  - cd frontend
  - npm install
  - npm install -g typescript typings
  - typings install

install:
  - tsc

script:
  - ./node_modules/karma/bin/karma start --single-run=true --browsers Firefox

