language: node_js

# safelist
branches:
  only:
  - master
  - travis

before_install:
  - cd frontend
  - npm install
  - npm install -g typescript typings
  - typings install

install:
  - tsc

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - ./node_modules/karma/bin/karma start --single-run=true --browsers Firefox

